body {
    width: 100%;
    height: 100%;
}

html {
    width: 100%;
    height: 100%;
}

@media(min-width:767px) {
    .navbar {
        padding: 20px 0;
        -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
        transition: background .5s ease-in-out, padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
    }
}

#back2Top {
    width: 40px;
    line-height: 40px;
    overflow: hidden;
    z-index: 999;
    display: none;
    cursor: pointer;
    -moz-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    position: fixed;
    bottom: 50px;
    right: 0;

    color: #303030;
    text-align: center;
    font-size: 30px;
    text-decoration: none;
}

#back2Top:hover {

    color: #fefefe;
}

.bienvenue-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #fefefe;
}

.html-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #DADADB;
}

.css-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #fefefe;
}

.javascript-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #DADADB;
}

.basededonnees-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #fefefe;
}

.conception-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #DADADB;
}

.php-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #fefefe;
}

.missions-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #DADADB;
}

.contact-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #fefefe;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #303030;
    background-color: #Fefefe;
}

.navbar-default {
    background-color: #303030;
    border-color: #fefefe;
}

.navbar-default .navbar-nav>li>a {
    color: #fefefe;
}