body {
	background-color: whitesmoke;
	text-align: center;
	margin: 100px;
}

.c1 {
	background-color: blue;
		height: 250px;
	width: 200px;
	border: 3px solid #303030;
	float: left;
	margin-right: 20px;
	margin-top: 5px;
}

.c2 {
	background-color: white;
		height: 250px;
	width: 200px;
	border: 3px solid #303030;
	float: left;
	margin-right: 20px;
	margin-top: 5px;
}

.c3 {
	background-color: red;
		height: 250px;
	width: 200px;
	border: 3px solid #303030;
	float: left;
	margin-right: 20px;
	margin-top: 5px;
}

.c4 {
	background-color: #B0E0E6;
	clear: both;
		height: 250px;
	width: 200px;
	border: 3px solid #303030;
	float: left;
	margin-right: 20px;
	margin-top: 5px;
}
