body {
	background-color: #fefefe;
	text-align: center;
	margin: 100px;
}

.c1 {
	background-color: blue;
	height: autox;
	width: 15%;
	border: 3px solid #303030;
	float: left;
	margin-right: 20px;
	margin-top: 5px;
	padding: 10px;
}

.c2 {
	background-color: white;
	height: autox;
	width: 15%;
	border: 3px solid #303030;
	float: left;
	margin-right: 20px;
	margin-top: 5px;
	padding: 10px;
}

.c3 {
	background-color: red;
	height: autox;
	width: 15%;
	border: 3px solid #303030;
	float: left;
	margin-right: 20px;
	margin-top: 5px;
	padding: 10px;
}

.c4 {
	background-color: #B0E0E6;
	clear: both;
	height: autox;
	width: 15%;
	border: 3px solid #303030;
	float: left;
	margin-right: 20px;
	margin-top: 5px;
	padding: 10px;
}
