body {
    background-color: #fefefe;
    text-align: center;
    margin: auto;
}

.divmenu {
    border: 2px solid #303030;
}

ul .menucss {
    width: 200px;
    height: 50px;
    border: 2px solid #303030;
    background-color: whitesmoke;
    list-style: none;
    color: #303030;
    font-size: 18px;
    padding-left: 10px;
    line-height: 50px;
}

ul .menucss:hover {
    cursor: pointer;
    width: 250px;
    background-color: #303030;
    color: whitesmoke;
    font-weight: bold;
    border: 3px solid #fefefe;
    padding-left: 40px;
    transition: all 1s;
}
